@model IEnumerable<MyBeerShop.Data.Entities.Beer>

@{
    ViewData["Title"] = "All Beers";
}

<h2 class="my-4">All Beers</h2>

<p>
    <form asp-action="All" method="get">
        <p>
            <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" />
        </p>
    </form>
</p>

<div class="row">
    @foreach (var beer in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <img class="card-img-top" src="@beer.ImageUrl" alt="@beer.BeerName">
                <div class="card-body">
                    <h5 class="card-title">@beer.BeerName</h5>
                    <p class="card-text">@beer.Producer</p>
                    <p class="card-text">@beer.Price.ToString("C")</p>
                    <a href="@Url.Action("Details", "Beers", new { id = beer.Id })" class="btn btn-primary">View More</a>
                    @if (User.IsInRole("Admin")){
                        <a href="@Url.Action("Edit", "Beers", new { id = beer.Id })" class="btn btn-secondary">Edit</a>
                        <form asp-action="Delete" asp-route-id="@beer.Id" method="post" class="d-inline">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    }
                </div>
            </div>
        </div>
    }
</div>
